.user-home{
    padding-left: 80px;
    display: flex;
    flex-direction: column;
}

.user-main-home{
    display: flex;
    width: 100%;
  height: 100vh;
  background-color: #2F3136;
  color: white;
}

.user-banner{
    display: flex;
    border-bottom: 1px solid black;
}

.user-home-left{
    background-color: #2F3136;
    width: 240px;
}

.user-home-right{
    display: flex;
    width: 80%;
    background-color: #36393F;
    justify-content: space-between;
    align-items: center;
}

.friend-label{
    display: flex;
    align-items: center;
}

.user-blocked-button{
    padding-right: 1000px;
}

.user-friend-button{
  background: none;
  border: none;
  font-family: "gg-sans-med", sans-serif;
  font-weight: bold;
  font-size: 16px;
  color: #B9BBBE;
  padding: 3px 10px;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.user-friend-button:hover {
    background-color: #45494e;
    color: white;
  }

.dm-channel-show-body{
    overflow-y: scroll;
    width: 100%;
    max-height: calc(100vh - 120px);
}

.dm-message-form-container{
    padding-right: 5px;
    padding-left: 5px;
    position: fixed;
    left: 337px;
    bottom: 10px;
    width: calc(75% - 20px);
}

.dm-message-form{
    background-color: #40444b;
    max-height: 50vh;
    border-radius: 8px;
    padding-left: 16px;
    z-index: 2;
}

.friend-show-li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
  border-radius: 4px;
  cursor: pointer;
}

.friend-show-li:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.user-status {
  font-family: "gg-sans", sans-serif !important;
  font-size: 14px;
  font-weight: bold;
  color: #B9BBBE;
  user-select: none;
}
.user-text {
  user-select: none;
  display: flex;
  align-items: center;
}
#user-divider {
  margin: 0 4px;
  width: calc(100% - 8px);
}
.friend-item-left {
  display: flex;
  align-items: center;
  padding-left: 5px;
}

.friend-item-right {
  display: flex;
  padding-right: 20px;
}

.friend-show-main {
    height: 100%;
    width: 100%;
    padding: 15px 20px;
}

.options-divider {
    width: 100%;
    background: #fff;
    height: 1px;
    border-radius: 1px;
    opacity: 0.10;
    /* margin: 3px 0; */
  }

.friend-items-ul{
    margin-bottom: 0px;
}

.hidden-user-tag {
    font-style: normal;
    color: #96989D;
    font-family: "gg-sans", sans-serif;
    font-size: 14px;
    display: none;
}

#show-element {
  display: flex;
}

.friendship-buttons{
    font-style: normal;
    color: #96989D;
    font-family: "gg-sans", sans-serif;
    font-size: 14px;
    display: none;
}

.user-home-top-text{
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 15px;
    font-family: "gg-sans-bold";
    color: #B9BBBE;
}

.noti-count {
    margin-left: 7px;
    color: white;
    font-style: normal;
    padding: 2px;
    border-radius: 50%;
    font-size: 12px;
    font-family: "gg-sans-bold", sans-serif;
    background-color: #ED4245;
    width: 10px;
    height: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

.user-item-option:hover {
  background-color: #2A2C30;
}
.user-item-option {
  background-color: #2F3136;
  margin: 3px;
  height: 40px;
  width: 20px;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
}