.echo-boost a{
    display: flex;
    justify-content: space-between;
    align-content: center;
    border-radius: 5px;
    text-decoration: none;
    flex-wrap: wrap;
    color:#B9BBBE;
}

.echo-boost a:hover{
    background-color: #5865F2;
}

.server-action-button{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    color:#B9BBBE;
    cursor: pointer;
}

.server-action-button:hover{
    background-color: #5865F2
}

.delete-server-button{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    flex-wrap: wrap;
    color: red;
    cursor: pointer;
}

.delete-server-button:hover{
    background-color: red;
    color: white;
}

.leave-server-button{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    flex-wrap: wrap;
    color: red;
    cursor: pointer;
}

.leave-server-button:hover{
    background-color: red;
    color: white;
}

