.channel-nav{
    width: 240px;
    height: 100vh;
    background-color: #2F3136;
}

.channel-name {
    margin: 2px 10px;
    padding: 7px 5px;
    height: 20px;
    display: flex;
    width: calc(100% - 30px);
    justify-content: space-between;
    align-items: center;
    font-size: small;
    user-select: none;
    cursor: pointer;
    color: #B9BBBE;
    font-size: 15px;
    font-family: "gg-sans-bold";
  }
  
.channel-name:hover {
  background-color: #3F4248;
  color: #DCDDDE;
  border-radius: 3px;
}

.channel-name:active {
    background-color: #3F4248;
    color: #fff;
    border-radius: 3px;
}

.top-channel-text{
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 15px;
    font-family: "gg-sans-bold";
    color: #B9BBBE; 
}

.channel-title-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.channel-add-button {
  background: none;
  border: none;
  color: #B9BBBE;
  cursor: pointer;
}

.channel-title-container button {
  display: flex;
  align-items: center;
}

.channel-links-container {
  margin-top: 0px;

}


