.channel-nav{
    width: 240px;
    height: 100vh;
    background-color: #2F3136;
}

.channel-name {
    margin: 2px 10px;
    padding: 7px 5px;
    height: 20px;
    display: flex;
    width: calc(100% - 30px);
    justify-content: space-between;
    align-items: center;
    font-size: small;
    user-select: none;
    cursor: pointer;
  }
  
.channel-name:hover {
  background-color: #3F4248;
  color: #DCDDDE;
  border-radius: 3px;
}

.channel-name:active {
    background-color: #3F4248;
    color: #fff;
    border-radius: 3px;
}

.top-channel-text{
    margin-top: 0px;
}
