.channel-form {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #36393f;
}

.channel-form form {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.channel-form h2 {
    color: white;
}

.channel-form p {
    font-family: "gg-sans", sans-serif;
    color: #B9BBBE;
}

.Overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(8, 9, 10, 0.8);
    z-index: 500;
    transition: background-color 200ms;
}

.ReactModal__Overlay {
    opacity: 0;
    transition: opacity 200ms;
}

.ReactModal__Overlay--after-open {
    opacity: 1;
}

.ReactModal__Overlay--before-close {
    opacity: 0;
}

.channel-form input {
    font-family: "gg-sans-med", sans-serif;
    margin: 10px 0px;
    padding: 10px;
    font-size: 16px;
    border-radius: 3px;
    border: none;
    background: none;
    color: white;
    background-color: #202225;
}

.channel-form input:focus {
    outline: none;
}

.channel-form button {
    padding: 12px;
    border: none;
    border-radius: 3px;
    width: 95px;
    height: 40px;
    background-color: #5865F2;
    color: white;
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 14px;
    font-family: "gg-sans-med", sans-serif;
    transition: 0.3s;
}   

#back-button {
    color: white;
    font-family: "gg-sans", sans-serif;
    align-items: center;
}

#back-button:hover {
    text-decoration: underline;
}

.channel-form button:hover {
    background-color: #4752C4;
    cursor: pointer;
    transition: 0.3s;
}

.channel-form button:active {
    background-color: #3C45A5;
}

.channel-form-header {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.channel-form-header h2, .channel-form-header p {
    margin: 5px;
}

.channel-form-inputs {
    display: flex;
    width: 100%;
    flex-direction: column;
}

.channel-form-footer {
    width: 440px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.channel-name-label {
    font-size: 12px;
    color: #B9BBBE;
}

.switch-container{
    display: flex;
    flex-direction: column;
    width: 100%
}

.switch-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.switch-top p{
    display: flex;
    align-items: center;
}